.contacts__info {
    padding-top: 11px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    @media(max-width:991px) {
        flex-direction: column-reverse;
    }
}

.contacts__info-left {
    padding-right: 30px;
}

.contacts__info-title {
    font-weight: 700;
    color: #000;
    line-height: 22px;
    font-size: 14px;
    @include font-family;
}

.contacts__info-text {
    margin: 0 0 15px;

    color: #474747;
    font-size: 14px;
    @include font-family;
    line-height: 24px;
}

.contacts__info-list {
    display: flex;
    flex-direction: column;
    margin: 0 0 15px;
}

.contacts__info-link {
    border-bottom: 1px solid #e30613;

    font-size: 14px;
    color: #474747;
    line-height: 24px;
    @include font-family;

    transition: .2s linear;

    position: relative;

    &:hover {
        @media(min-width:1024px) {
            border-bottom: 1px solid transparent;

        }
    }

    span {
        position: absolute;
        left: 102%;
        pointer-events: none;
    }
}


.contacts__map {
    width: 593px;
    height: 305px;
    padding: 5px;
    margin: 10px 0 0;

    background: #fff;
    border: 1px solid #dbdbdb;
    border-bottom-color: #bfbfbf;
    border-top-color: #eee;
    border-radius: 5px;
    box-shadow: 0 1px 2px #ccc;

    @media(max-width:991px) {
        margin-bottom: 20px;
        width: 100%;
        height: 455px;
    }

    @media(max-width:768px) {
        height: 305px;
    }

    @media(max-width:593px) {
        max-width: 593px;
    }
}

.contacts__form {
    max-width: 780px;
    margin-top: 40px;
    margin-bottom: 60px;

    border-bottom: 1px solid rgba(#000, .3);
}

.contacts__form-text {
    margin-bottom: 10px;

    color: #474747;
    font-size: 14px;
    line-height: 22px;
    @include font-family;
}

.contacts__form-group {
    margin-bottom: 10px;

}

.contacts__form-name {
    width: fit-content;
    color: #333;
    font-size: 14px;
    line-height: 22px;
    @include font-family;
    font-weight: 700;

    &.required {
        position: relative;

        &::before {
            content: '*';
            color: #dd0000;
            font-size: 14px;

            position: absolute;
            top: 0;
            right: -9px;
        }
    }
}

.contacts__form-input,
.contacts__form-select {
    display: block;
    width: 100%;
    padding: 0.35em 0.55em;

    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    border-radius: 3px;

    transition: all 0.2s linear;

    font-size: 14px;
    height: auto;
    @include font-family;
    color: #555;
    line-height: 1.42857143;

    &:focus {
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
        border-color: #66afe9;
    }
}

.contacts__form-group--select {
    position: relative;

    &::before {
    content: '';
    height: 6px;
    width: 6px;

    pointer-events: none;
    border-top: 2px solid #555;
    border-right: 2px solid #555;

    position: absolute;
    right: 10px;
    bottom: 12px;

    transform: rotate(135deg);
    }
}

.contacts__form-select option {
    font-weight: normal;
    display: block;

    font-size: 14px;
    height: auto;
    @include font-family;
    color: #555;
    line-height: 1.42857143;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.contacts__form-textarea {
    display: block;
    width: 100%;
    padding: 0.35em 0.55em;

    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    border-radius: 3px;

    font-size: 14px;
    height: auto;
    @include font-family;
    color: #555;
    line-height: 1.42857143;
}

.contacts__form-checkbox {
    display: block;
    margin-bottom: 10px;

    font-size: 14px;
    height: auto;
    @include font-family;
    color: #555;
    line-height: 1.42857143;
}

.contacts__form-captcha {
    margin-bottom: 10px;
}

.contacts__form-btn {
    background: #eee;
    border-radius: 4px;
    background: #337ab7;


    transition: all 0.2s ease;

    display: inline-block;
    padding: 6px 14px 7px;
    margin-bottom: 20px;

    @include font-family;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
        @media(min-width:1024px) {
            background: #286090;
        }
    }
}
