<header class="header">
    <div class="header__top container">
        <div class="header-wrapper">
            <a class="header__logo" href="/">
                <img src="img/logo.png" alt="">
            </a>
            <button class="info-mob">
                <img src="img/phone.svg" alt="">
            </button>
            <button class="burger">
                <span class="burger__line"></span>
            </button>
            <div class="header__contacts">
                <h2 class="header__title">
                    <span>C</span>истемный интегратор в области промышленной идентификации продукции
                </h2>
                <ul class="header__contacts-list">
                    <li class="header__contacts-item">
                        <div>
                            <span class="header__icon header__icon--01"></span>
                            <a class="header__contacts-link" href="tel:+375173882201">
                                <span>+375 (17)</span>
                                388-22-01
                            </a>
                        </div>
                        <div>
                            <span class="header__icon header__icon--02"></span>
                            <a class="header__contacts-link" href="tel:+375336882203">
                                <span>+375 (33)</span>
                                688-22-03
                            </a>
                        </div>
                    </li>
                    <li class="header__contacts-item">
                        <div>
                            <span class="header__icon header__icon--05"></span>
                            <a class="header__contacts-link" href="mailto:info@data-by.by">
                                info@data-by.by
                            </a>
                        </div>
                        <div>
                            <span class="header__icon header__icon--08"></span>
                            <a class="header__contacts-link" href="tel:+375291800932">
                                <span>+375 (29)</span>
                                180-09-32
                            </a>
                        </div>
                    </li>
                    <li class="header__contacts-item">
                        <p class="header__contacts-text">Написать нам:</p>
                        <div class="header__contacts-messenger">
                            <a class="header__contacts-messenger-item" target="_blank"
                                href="viber://chat?number=+375291800932">
                                <img src="img/viber.png" alt="">
                            </a>
                            <a class="header__contacts-messenger-item" target="_blank" href="https://t.me/maindataby">
                                <img src="img/telegram.png" alt="">
                            </a>
                            <a class="header__contacts-messenger-item" target="_blank" href="skype:data-by">
                                <img src="img/skype.png" alt="">
                            </a>
                        </div>
                    </li>
                    <li class="header__contacts-item">
                        <p class="header__contacts-info">Минск, Машиностроителей 29А</p>
                        <p class="header__contacts-info">Время работы: 9:00-17:30</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <button class="close-nav">
        <img src="img/close.svg" alt="">
    </button>
    <div class="header__bottom">
        <div class="container">
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item active">
                        <a class="nav__link @nav__link1" href="#">Маркировка</a>
                        <ul class="subnav">
                            <li class="subnav__item active">
                                <a class="subnav__link" href="#">Каплеструйная технология</a>
                                <ul class="submenu">
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Мелкосимвольные маркираторы</a>
                                    </li>
                                    <li class="submenu__item active">
                                        <a class="submenu__link" href="#">Крупносимвольные маркираторы</a>
                                        <ul class="submenu-nested">
                                            <li>
                                                <a class="submenu-nested__link no-submenu" href="#">Принтеры Zanasi
                                                    (Италия)</a>
                                            </li>
                                            <li>
                                                <a class="submenu-nested__link no-submenu" href="#">Принтеры REA JET
                                                    (Германия)</a>
                                            </li>
                                            <li>
                                                <a class="submenu-nested__link no-submenu" href="#">Принтеры LINX
                                                    (Великобритания)</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Комплектующие</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="subnav__item active">
                                <a class="subnav__link" href="#">Лазерная технология</a>
                                <ul class="submenu">
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Лазерные маркираторы LINX</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Лазерные маркираторы MACSA</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Планшетные лазеры Trotec</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">DATA-LASER - Лазерное
                                            оборудование</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="subnav__item">
                                <a class="subnav__link no-submenu" href="#">Ударная технология</a>
                            </li>
                            <li class="subnav__item active">
                                <a class="subnav__link" href="#">Электрохимическая технология</a>
                                <ul class="submenu">
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Ручные маркираторы</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Полуавтоматические системы</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Комплектующие</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="subnav__item active">
                                <a class="subnav__link" href="#">Термотрансферная технология</a>
                                <ul class="submenu">
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Термотрансферные маркираторы
                                            LINX</a>
                                    </li>
                                    <li class="submenu__item active">
                                        <a class="submenu__link" href="#">Термотрансферные принтеры Carl Valentin</a>
                                        <ul class="submenu-nested">
                                            <li>
                                                <a class="submenu-nested__link no-submenu" href="#">Принтеры</a>
                                            </li>
                                            <li>
                                                <a class="submenu-nested__link no-submenu" href="#">Встраиваемые
                                                    модули</a>
                                            </li>
                                            <li>
                                                <a class="submenu-nested__link no-submenu" href="#">Print&Apply
                                                    системы</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="subnav__item active">
                                <a class="subnav__link" href="#">Этикетировка</a>
                                <ul class="submenu">
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Этикетировщики ENOLMAC</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Этикетировщики E-PACKAGING</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Промышленные решения ETIPACK
                                            (аппликаторы, линии)</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Перемотчики, диспенсеры, размотчики
                                            этикеток</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="subnav__item">
                                <a class="subnav__link no-submenu" href="#">Механические маркираторы</a>
                            </li>
                            <li class="subnav__item active">
                                <a class="subnav__link" href="#">Графические системы</a>
                                <ul class="submenu">
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Графические системы
                                            KBA-Metronic</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Интегрируемые решения для
                                            типографий</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Графические системы KONICA
                                            MINOLTA</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Графические системы MCS</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">MATICA Technologies</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">УФ принтеры</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Принтеры для текстиля</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Сольвентные принтеры</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="subnav__item">
                                <a class="subnav__link no-submenu" href="#">RFID</a>
                            </li>
                            <li class="subnav__item active">
                                <a class="subnav__link" href="#">Машинное зрение</a>
                                <ul class="submenu">
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Промышленные считыватели кодов</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Видеодатчики IN-SIGHT 2000</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">2D Системы технического зрения
                                            IN-SIGHT</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__item active">
                        <a class="nav__link @nav__link2" href="#">Упаковка</a>
                        <ul class="subnav">
                            <li class="subnav__item">
                                <a class="subnav__link no-submenu" href="#">Сливерные системы</a>
                            </li>
                            <li class="subnav__item">
                                <a class="subnav__link no-submenu" href="#">Паллетоупаковщики / паллетообмотчики</a>
                            </li>
                            <li class="subnav__item active">
                                <a class="subnav__link" href="#">Вакуумное оборудование</a>
                                <ul class="submenu">
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Однокамерные упаковщики</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Двухкамерные упаковщики</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Бескамерные упаковщики</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Термозапайщики</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Вакуумные машины HUALIAN</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Машина для вакуумной варки</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="subnav__item active">
                                <a class="subnav__link" href="#">Технологическое оборудование</a>
                                <ul class="submenu">
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Конвейерные системы</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Установка для утилизации моющих
                                            растворов, смывок и СОЖ </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="subnav__item">
                                <a class="subnav__link no-submenu" href="#">Машины для сушки столовых приборов</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__item active">
                        <a class="nav__link @nav__link3" href="#">Расходные материалы</a>
                        <ul class="subnav">
                            <li class="subnav__item">
                                <a class="subnav__link no-submenu" href="#">Чернила для принтеров</a>
                            </li>
                            <li class="subnav__item">
                                <a class="subnav__link no-submenu" href="#">Эмульсии и спреи</a>
                            </li>
                            <li class="subnav__item">
                                <a class="subnav__link no-submenu" href="#">Печатающие головки</a>
                            </li>
                            <li class="subnav__item">
                                <a class="subnav__link no-submenu" href="#">Этикетки</a>
                            </li>
                            <li class="subnav__item">
                                <a class="subnav__link no-submenu" href="#">Клише</a>
                            </li>
                            <li class="subnav__item">
                                <a class="subnav__link no-submenu" href="#">Растворитель</a>
                            </li>
                            <li class="subnav__item">
                                <a class="subnav__link no-submenu" href="#">Вакуумные пакеты</a>
                            </li>
                            <li class="subnav__item">
                                <a class="subnav__link no-submenu" href="#">Двухслойный пластик для гравировки
                                    Trotec</a>
                            </li>
                            <li class="subnav__item">
                                <a class="subnav__link no-submenu" href="#">Безворсовые материалы для чистки
                                    оборудования</a>
                            </li>
                            <li class="subnav__item">
                                <a class="subnav__link no-submenu" href="#">Красящая лента/ чернильные ролики</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__item active">
                        <a class="nav__link @nav__link4" href="#">Применение</a>
                        <ul class="subnav application">
                            <li class="subnav__item">
                                <a class="subnav__link no-submenu" href="#">Комплексные решения</a>
                            </li>
                            <li class="subnav__item">
                                <a class="subnav__link no-submenu" href="#">ЕГАИС</a>
                            </li>
                            <li class="subnav__item active">
                                <a class="subnav__link" href="#">По виду материала</a>
                                <ul class="submenu">
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Бумага и картон</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Пластик</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Металл</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Дерево</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Стекло</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Текстиль</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="subnav__item active">
                                <a class="subnav__link" href="#">По отрасли</a>
                                <ul class="submenu">
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Пищевая промышленность</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Косметическая отрасль</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a class="submenu__link no-submenu" href="#">Провода и кабель</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="subnav__item">
                                <a class="subnav__link no-submenu" href="#">Честный знак</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__item active">
                        <a class="nav__link @nav__link5" href="#">Сервис</a>
                        <ul class="subnav">
                            <li class="subnav__item">
                                <a class="subnav__link no-submenu" href="#">Ремонт и обслуживание</a>
                            </li>
                            <li class="subnav__item">
                                <a class="subnav__link no-submenu" href="#">Аудит</a>
                            </li>
                            <li class="subnav__item">
                                <a class="subnav__link no-submenu" href="#">Расходные материалы</a>
                            </li>
                            <li class="subnav__item">
                                <a class="subnav__link no-submenu" href="#">Политика компании</a>
                            </li>
                            <li class="subnav__item">
                                <a class="subnav__link no-submenu" href="#">Оставить заявку</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link @nav__link6 nav__link--promotion" href="#">Акции!</a>
                    </li>
                    <li class="nav__item active">
                        <a class="nav__link @nav__link7" href="#">О компании</a>
                        <ul class="subnav">
                            <li class="subnav__item">
                                <a class="subnav__link no-submenu" href="#">Контакты</a>
                            </li>
                            <li class="subnav__item">
                                <a class="subnav__link no-submenu" href="#">Информация о компании</a>
                            </li>
                            <li class="subnav__item">
                                <a class="subnav__link no-submenu" href="#">Партнёры</a>
                            </li>
                            <li class="subnav__item">
                                <a class="subnav__link no-submenu" href="#">Вопрос-ответ</a>
                            </li>
                            <li class="subnav__item">
                                <a class="subnav__link no-submenu" href="#">Новости</a>
                            </li>
                            <li class="subnav__item">
                                <a class="subnav__link no-submenu" href="#">Вакансии</a>
                            </li>
                            <li class="subnav__item">
                                <a class="subnav__link no-submenu" href="#">Отзывы</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="header__bottom-bg"></div>
</header>